.row
    .small-10.columns <% param.message %>
    .small-2.columns
        <a class="button secondary small radius" href="<% layout.url action="stopTestdrive" %>?stop=1"><% message key="Layout.testDrive.stopTesting" %></a>