#loginStatus.hide <% site.loginstatus %>
script(type="text/javascript").
    var f5CoreInfo = {
        msgHeader: "Foundation Blog",
        userName: "<% username %>",
        userUrl: "<% username as='url' %>",
        userRole: function(){ return ($("#loginStatus").text().match(/\((.*)\)/) || ["","Reader"])[1]; },
        siteAlias: "<% site.alias %>",
        siteUrl: "<% site.url %>",
        layoutUrl: "<% layout.url %>",
        staticUrl: "<% staticURL %>"
    };