//- Holds ng-templates to be used with templateUrl
script#customizeBlogHtml(type="text/ng-template")
    #customizeBlog
        h5 Mein Foundation-Blog anpassen
        tabset
            tab(heading="Grunddaten")
                include partials/custCoreData
            tab(heading="Hintergrundbilder")
                include partials/custBackgrounds
            tab(heading="Bloglayout")
                p Bloglayout
            tab(heading="Typographie")
                p Typographie
            tab(heading="Menüanzeige")
                tabset(vertical="true")
                    tab
                        tab-heading <i class="fa fa-cog fa-fw fa-margin"></i>Menüleiste
                        include partials/menuBasicOptions
                    tab
                        tab-heading <i class="fa fa-bars fa-fw fa-margin"></i>Menüeinträge
                        include partials/menuStandardItems
                    tab
                        tab-heading <i class="fa fa-rocket fa-fw fa-margin"></i>Schnellmenü
                        include partials/menuCustomItems
                    tab
                        tab-heading <i class="fa fa-envelope fa-fw fa-margin"></i>Spezialmenü
                        include partials/menuSpecialItems
            tab(heading="Aktualisierung")
                include partials/custAppUpdate
        p.text-center.bottom0
            a.button.success.radius.tiny(ng-click="customize.ok()") <i class="fa fa-check fa-margin"></i>Einstellungen sichern
            a.button.alert.radius.tiny.left15(ng-click="customize.cancel()") <i class="fa fa-times fa-margin"></i>Änderung abbrechen
        a.close-reveal-modal(ng-click="customize.cancel()") &times;