//- partial template: Customization -> Core Blog Data
form(ng-controller="CustCoreDataCtrl as coredata")
    .row
        .small-4.columns
            label(for="txtTitle") Blogtitel
                input(type="text", id="txtTitle", ng-model="customize.param.site.title")
        .small-4.columns
            label(for="txtSubtitle") Bloguntertitel
                input(type="text", id="txtSubtitle", ng-model="customize.param.site.subtitle")
        .small-4.columns
            label(for="txtAuthor") Autor
                input(type="text", id="txtAuthor", ng-model="customize.param.site.author")
    .row
        .small-12.columns
            label(for="txtDescription") Blogbeschreibung
                input(type="text", id="txtDescription", ng-model="customize.param.site.description")
    .row
        .small-12.columns.bottom15
            .row.collapse
                label.bottom0(for="txtImgFolder") GoogleDrive-Verzeichnis für öffentliche Bilder
                .small-10.columns
                    input(type="text", id="txtImgFolder", ng-model="customize.param.site.imgFolder", ng-change="customize.param.site.isFolderVerified=false")
                .small-2.columns
                    span.postfix(ng-click="coredata.verifyDriveFolder()")
                        i.fa.fa-margin(ng-class="{'fa-search red': !customize.param.site.isFolderVerified, 'fa-check green': customize.param.site.isFolderVerified}")
                        span(ng-if="customize.param.site.isFolderVerified") Geprüft!
                        span(ng-if="!customize.param.site.isFolderVerified") Prüfen...
    .row
        .small-4.columns.text-center
            label Lade-Animation anzeigen?
            .switch.round
                input(type="checkbox", id="chkLoader", ng-model="customize.param.site.loader.animation")
                label(for="chkLoader")
        .small-2.columns
            label Farbe 1
            spectrum-colorpicker(ng-model="customize.param.site.loader.color1")
        .small-2.columns
            label Farbe 2
            spectrum-colorpicker(ng-model="customize.param.site.loader.color2")
        .small-2.columns
            label Farbe 3
            spectrum-colorpicker(ng-model="customize.param.site.loader.color3")
        .small-2.columns
            a.button.secondary.tiny.radius(href="", id="btnLoader", ng-click="coredata.testLoader()")
                i.fa.fa-play.fa-margin
                | Test