//- partial template: Menu --> Custom Items
form(ng-controller="MenuCustomItemsCtrl as menuCustom")
    .row
        .small-3.columns.text-center
            label Aktivieren?
            .switch.round
                input(type="checkbox", id="chkCustomMenu", class="fs13" ng-model="customize.param.topbar.addCustomMenu.activate")
                label(for="chkCustomMenu")
        .small-3.columns
            label(for="txtCustomMenu") Text
                input(type="text", class="fs13", ng-model="customize.param.topbar.addCustomMenu.text", placeholder="Text")
        .small-3.columns
            label Icon
                .row.collapse
                    .small-10.columns
                        input(type="text", id="txtCustomIcon", ng-model="customize.param.topbar.addCustomMenu.icon")
                    .small-2.columns
                        span.postfix:  i(ng-class="menuCustom.getIcon()")
        .small-3.columns.text-center
            label Trenner
            .switch.round
                input(type="checkbox", id="chkCustomDivider", ng-model="customize.param.topbar.addCustomMenu.divider")
                label(for="chkCustomDivider")
    .row.collapse
        .small-12.columns
            table#customItems.fullsize
                thead
                    tr(ng-hide="menuCustom.isEditMode || menuCustom.isCreateMode")
                        th &nbsp;
                        th Typ
                        th Überschrift / Link
                        th Sortieren
                    tr(ng-show="menuCustom.isCreateMode")
                        th(colspan="4") Schnellmenüeintrag hinzufügen
                    tr(ng-show="menuCustom.isEditMode")
                        th(colspan="4") Schnellmenüeintrag ändern
                tbody
                    tr(ng-repeat="customItem in customize.param.topbar.addCustomMenu.items", ng-hide="menuCustom.isEditMode || menuCustom.isCreateMode")
                        td: ul.button-group.twinbuttons
                            li: button.tiny.radius.secondary.square.right5(href="", title="Eintrag bearbeiten", ng-click="menuCustom.edit($index)"): i.fa.fa-edit.fa-fw
                            li: button.tiny.radius.secondary.square(href="", title="Eintrag entfernen", ng-click="menuCustom.remove($index)"): i.fa.fa-trash-o.fa-fw
                        td
                            i.fa.fa-external-link(ng-if="customItem.link")
                            i.fa.fa-tag(ng-if="!customItem.link")
                        td
                            div(ng-class="{'customlink': customItem.link, 'customlabel': !customItem.link}") {{customItem.text}}
                            div.customhref(ng-if="customItem.link") {{customItem.href}}
                        td: ul.button-group.twinbuttons
                            li: button.tiny.radius.secondary.square.right5(href="", title="Nach oben", ng-click="menuCustom.moveup($index)", ng-disabled="$first"): i.fa.fa-caret-up.fa-fw
                            li: button.tiny.radius.secondary.square(href="", title="Nach unten", ng-click="menuCustom.movedown($index)", ng-disabled="$last"): i.fa.fa-caret-down.fa-fw
                    tr.bgwhite(ng-show="menuCustom.isEditMode || menuCustom.isCreateMode")
                        td.vtop
                            label &nbsp;
                            ul.button-group.twinbuttons
                                li: button.tiny.radius.secondary.square.right5(href="", title="Speichern", ng-click="menuCustom.save()"): i.fa.fa-check.fa-fw
                                li: button.tiny.radius.secondary.square(href="", title="Abbrechen", ng-click="menuCustom.cancel()"): i.fa.fa-times.fa-fw
                        td.vtop.text-center
                            label Typ
                            .switch.round
                                input(type="checkbox", id="chkCustomType", ng-model="menuCustom.entry.link")
                                label(for="chkCustomType")
                        td.vtop(colspan="2")
                            div.bottom15
                                label {{menuCustom.getEntryType()}}
                                input(type="text", ng-model="menuCustom.entry.text")
                            div.bottom15(ng-if="menuCustom.entry.link")
                                label Linkadresse
                                input(type="text", ng-model="menuCustom.entry.href")
                    tr(ng-hide="menuCustom.isEditMode || menuCustom.isCreateMode"): td(colspan="4")
                        button.tiny.radius.secondary(href="", ng-click="menuCustom.create()", ng-disabled="menuCustom.isEditMode || menuCustom.isCreateMode")
                            i.fa.fa-plus.fa-margin
                            | Neuer Schnellmenüeintrag