meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="apple-mobile-web-app-status-bar-style", content="black")
link(rel="apple-touch-icon-precomposed", sizes="152x152", href="{{site.imgFolder}}apple-touch-icon-152x152.png")
link(rel="apple-touch-icon-precomposed", sizes="114x114", href="{{site.imgFolder}}apple-touch-icon-114x114.png")
link(rel="apple-touch-icon-precomposed", sizes="72x72", href="{{site.imgFolder}}apple-touch-icon-72x72.png")
link(rel="apple-touch-icon-precomposed", sizes="57x57", href="{{site.imgFolder}}apple-touch-icon-57x57.png")