meta(property="og:url", content!="<% site.href %>")
meta(property="og:title", content="{{param.site.title}}")
meta(property="og:site_name", content="{{param.site.description}}")
//- min 600x315px to 1200x630
meta(property="og:image", content="{{param.site.imgFolder}}og-image.png")
meta(property="og:image:type", content="image/png")