//- template: Einstelloptionen - Hintergrundbilder
form(ng-controller="TmplHintergrundbilderCtrl")
    fieldset
        .row(ng-show="isQueryImage")
            .small-12.columns
                .row
                    .small-2.columns
                        label Bildquelle
                        a.button.tiny.split {{navImagePool.provider.name}} <span dropdown-toggle="#dropdown-imgprovider"></span>
                        ul#dropdown-imgprovider.f-dropdown
                            li(ng-repeat="provider.name in navImagePool.providers"): a(ng-click="navImagePool.useProvider($index)") {{provider}}
                    .small-2.columns
                        label Seite {{navImagePool.page+1}} von {{navImagePool.lastPage+1}}
                        a.button.button.tiny.radius.secondary.square.right5(title="Vorhergehende Bildseite", ng-enabled="!navImagePool.isFirstPage", ng-click="navImagePool.prevPage()"): i.fa.fa-chevron-left.fa-fw
                        a.button.button.tiny.radius.secondary.square(title="Nächste Bildseite", ng-enabled="!navImagePool.isLastPage", ng-click="navImagePool.nextPage()"): i.fa.fa-chevron-right.fa-fw
                    .small-2.columns.end
                        label &nbsp;
                        a.button.button.tiny.radius.secondary(title="Schließen") <i class="fa fa-times fa-margin"></i>Schließen
            .small-12.columns
                .row
                    .small-4.medium-3.large-2.columns(ng-repeat="image in navImagePool.pageImages track by $index")
                        img.photo(ng-src="{{image}}", alt="")
        .row(ng-show="!isQueryImage && (isEditMode || isCreateMode)")
            .small-12.columns
                .row
                    .small-2.columns
                        label(for="timeFrom") Von <i class="fa fa-clock-o"></i>
                            input(type="time", ng-model="slot.from", id="timeFrom", placeholder="HH:mm", min="00:00", max="23:59", required)
                    .small-2.columns
                        label(for="timeTo") Bis <i class="fa fa-clock-o"></i>
                            input(type="time", ng-model="slot.to", id="timeTo", placeholder="HH:mm", min="00:00", max="23:59", required)
                    .small-2.columns
                        label Position
                            a.extlink(href="http://www.w3schools.com/cssref/pr_background-position.asp" target="_blank")
                        a.button.tiny.split {{slot.position}} <span dropdown-toggle="#dropdown-position"></span>
                        ul#dropdown-position.f-dropdown
                            li(ng-repeat="position in positions"): a(ng-click="usePosition($index)") {{position}}
                    .small-2.columns
                        label Repeat
                            a.extlink(href="http://www.w3schools.com/cssref/pr_background-repeat.asp", target="_blank")
                        a.button.tiny.split {{slot.repeat}} <span dropdown-toggle="#dropdown-repeat"></span>
                        ul#dropdown-repeat.f-dropdown
                            li(ng-repeat="repeat in repeats"): a(ng-click="useRepeat($index)") {{repeat}}
                    .small-2.columns
                        label Size
                            a.extlink(href="http://www.w3schools.com/cssref/css3_pr_background-size.asp", target="_blank")
                        a.button.tiny.split {{slot.size}} <span dropdown-toggle="#dropdown-size"></span>
                        ul#dropdown-size.f-dropdown
                            li(ng-repeat="size in sizes"): a(ng-click="useSize($index)") {{size}}
                    .small-2.columns
                        label Attachment
                            a.extlink(href="http://www.w3schools.com/cssref/pr_background-attachment.asp", target="_blank")
                        a.button.tiny.split {{slot.attachment}} <span dropdown-toggle="#dropdown-attachment"></span>
                        ul#dropdown-attachment.f-dropdown
                            li(ng-repeat="attachment in attachments"): a(ng-click="useAttachment($index)") {{attachment}}
                .row
                    .small-10.columns
                        label(for="txtHref") Bildadresse (URL)
                            input(type="text", id="txtHref", ng-model="slot.href")
                    .small-2.columns
                        label Unsplash Fotos
                            a.button.secondary.tiny.radius(ng-click="queryImage()") <i class="fa fa-camera fa-margin"></i>Bild wählen
                .row
                    .small-12.columns.small-centered
                        a.button.success.radius.tiny(ng-click="save()") <i class="fa fa-check fa-margin"></i>Übernehmen
                        a.button.alert.radius.tiny.left10(ng-click="cancel()") <i class="fa fa-times fa-margin"></i>Abbrechen
        .row(ng-hide="isQueryImage || isEditMode || isCreateMode")
            .small-12.columns
                table.fullsize
                    thead
                        tr
                            th &nbsp;
                            th Von <i class="fa fa-clock-o"></i>
                            th Bis <i class="fa fa-clock-o"></i>
                            th Position
                            th Repeat
                            th Size
                            th Attachment
                            th Bild
                    tbody
                        tr(ng-repeat="slot in input.timeSlots")
                            th
                                ul.button-group
                                    li: a.button.tiny.radius.secondary.square.right5(href="", title="Eintrag bearbeiten", ng-click="edit($index)"): i.fa.fa-edit.fa-fw
                                    li: a.button.tiny.radius.secondary.square(href="", title="Eintrag entfernen", ng-click="remove($index)"): i.fa.fa-trash-o.fa-fw
                            th {{slot.from | date:'HH:mm'}}
                            th {{slot.to| date:'HH:mm'}}
                            th {{slot.position}}
                            th {{slot.repeat}}
                            th {{slot.size}}
                            th {{slot.attachment}}
                            th: a(ng-href="{{slot.href}}", class="th", target="_blank"): img(ng-src="{{slot.href}}", width="120", alt="")
                        tr
                            th(colspan="8", id="slotStatus", ng-class="{'red': !slotStatusOK, 'green': slotStatusOK}") <i class="fa fa-margin" ng-class="{'fa-info-circle': !slotStatusOK, 'fa-check': slotStatusOK}"></i>{{slotStatus}}
                        tr
                            th(colspan="8")
                                ul.button-group
                                    li: a.button.tiny.radius.secondary(href="", ng-click="create()", ng-disabled="isEditMode || isCreateMode") <i class="fa fa-plus fa-margin"></i>Neuen Hintergrund definieren