- var cssFolder = "https://googledrive.com/host/0B87rILW4RVIJeG9TV2M4YnBwekk"
- var imgFolder = "https://googledrive.com/host/0B87rILW4RVIJNlN3eUJxVWN5ZWM"
- var jsFolder = "https://googledrive.com/host/0B87rILW4RVIJdzJiMW5WRUdfalE"
- var lineBreak = " "