/* Layout Modifications/Enhancements to the Foundation5 CSS */
/* ---- Fonts ---- */
// Google OpenSans and Oswald
/*source: @import url("http://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700|Oswald:400");*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff) format('woff');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(http://themes.googleusercontent.com/static/fonts/oswald/v8/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}
body {
  font-size: 14px;
  line-height: 21px;
}
#f5Topbar {
  i { margin-right: 6px; font-size: 105%; }
}
.message {
  br { display: none; }
  .button { margin: 0 0 0 15px; }
}
.top20 { margin-top: 20px; }
.bottom0 { margin-bottom: 0; }
.button i, button i { margin-right: 6px; }

/* ---- SCSS Mixins ---- */

@mixin rounded($radius: 2px) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}
@mixin opacity($opacity: 0.5) {
  -webkit-opacity: $opacity;
  opacity: $opacity;
}
@mixin transientbox ($opacity: 0.8) {
  position: relative;
  background: #fff;
  margin-bottom: 15px;
  padding: 15px;
  -webkit-transition: opacity 1s, width .4s;
  transition: opacity 1s, width .4s;
  @include rounded(4px);
  @include opacity($opacity);
}
/* ---- Preloader ---- */
#preloadWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
#preloadAnimation {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(http://static.twoday.net/cdn/images/preloader.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -16px 0 0 -16px;
}
.content {
  @include transientbox(0.8);
  &:hover { @include opacity(0.95); }
}
.sidebarItem {
  @include transientbox(0.6);
  &:hover { @include opacity(0.8); }
}
.fade {
  @include opacity(0);
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  @include opacity(1);
}
/* ---- Site.modReading Skin CSS ---- */
.sbBookContainer {}
.sbBookItem { margin-bottom: 20px; font-size: 13px; }
.sbBookItem img { box-shadow: 3px 4px 6px #ccc; max-height: 120px; }
.sbBookAuthor { font-style: italic; margin-top: 10px; }
.sbBookTitle {}

/* ---- Site.ngTemplates Skin CSS ---- */
#customizeBlog {
  p { font-size: 1em; }
  #btnCancel { margin-left: 15px; }
}
