/* Layout Modifications/Enhancements to the Foundation5 CSS */
#f5Topbar {
  i { margin-right: 6px; }
}
.message {
  margin-top: 15px;
  br { display: none; }
  .button { margin: 0 0 0 15px; }
}
.top20 { margin-top: 20px; }
.bottom0 { margin-bottom: 0; }